.User-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 670px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 120px;
    height: 120px;
    margin-right: 12px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.doctor-item {
  &__name,
  &__availability {
    font-weight: 400;
  }

  &__info {
    font-size: 12px;
    line-height: 16px;
    span:first-child {
      margin-right: 16px;
      color: $darkColor60;
    }
  }
}

