.User-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 200px;
    height: 200px;
    margin-right: 12px;
    overflow: hidden;
    border-radius: $borderRadius;

    img {
      width: 100%;
    }
  }
}

