.User {
  &__section {
    position: relative;
    top: -100%;
    padding: 32px;
    opacity: 0;
    transition: $transition;
    &.loaded {
      opacity: 1;
      top: 0;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &__block {
    display: flex;
    margin-bottom: 16px;
  }

  &__avatar {
    width: 200px;
    margin-right: 32px;
    border-radius: $borderRadius;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: right;
    h3 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 8px;
    }
    p {
      color: $darkColor60;
      font-size: 20px;
      line-height: 24px;
    }
  }
}
