.Nav-item {
  padding: 16px 16px 16px 40px;

  >a {
    display: flex;
    >div {
      min-width:20px;
      margin-right: 10px;
      text-align: center;
    }
  }

  .active {
    color: $primaryColor;

    svg {
      path {
        fill: $primaryColor;
      }
    }
  }
}
