@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-400.ttf') format('opentype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-500.ttf') format('opentype');

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-700.ttf') format('opentype');

  font-weight: 700;
  font-style: normal;
}

