/* colors */
$mainBackgroundColor: #F5F5F5;
$primaryColor: #2C79CE;
$darkColor: #000000;
$darkColor60: rgba(60, 60, 67, 0.6);
$secondaryColor: #3C3C43;
$secondaryColor60: rgba(60, 60, 67, 0.6);
$scrollColor: #80868B;
$scrollColor60: rgba(128, 134, 139, 0.6);

/* sizes */
$borderRadius: 8px;
$headerHeight: 84px;
$paginateHeight: 60px;

/* fonts */
$fontFamily: 'Montserrat';
$fontSize: 16px;
$LineHeight: 24px;
$fontWeight: 500;

/* transition */
$transition: 0.5s;
$longTransition: 1s;

